@media screen and (max-width: 600px) {

  /* navbar design */
  .nav-container .nav-item-container .checkbtn {
    display: block;
  }

  .nav-container .nav-item-container ul {
    position: fixed;
    width: 100%;
    background: #2c3e50;
    top: 90px;
    left: 100%;
    text-align: center;
    flex-direction: column;
    transition: left 0.3s ease;
    padding-bottom: 30px;
  }

  .nav-container .nav-item-container ul.show-menu {
    left: 0;
  }

  .nav-container .nav-item-container ul li {
    display: block;
  }

  .nav-container .nav-item-container ul li a {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-right: 90px;
    
  }

  #check:checked + .checkbtn ~ ul {
    left: 0;
  }

  /* Explore your travel section desing */
.banner {
  margin: 10px auto;
  height: 483px;
  width: 335px;
  margin-bottom: 30px;
}

.banner .banner-text-content h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

.banner .banner-text-content p {
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px
}

.banner .where-go-content {
  display: flex;
  width: 270px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 16px;
}

  /* Our popular tours section design */
.our-popular-tours{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.our-popular-tours .popular-tours-text-content{
  padding-left: 18px;
  padding-right: 18px;
}

.our-popular-tours .popular-tours-text-content h2{
  font-size: 28px;
}

.our-popular-tours .popular-tours-text-content p{
  font-size: 14px;
  
}

.our-popular-tours .popular-tours-image-content img{
  width: 335px;
  height: 342px;
}

  /* choose your destination section design */
.choose-your-destination .destination-text-content{
  margin-top: 40px;
}

.choose-your-destination .destination-text-content h2 {
  font-size: 26px;
  padding-bottom: 14px;
}

.choose-your-destination .destination-text-content p {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.choose-your-destination .destination-place-image .destination-place-image-container1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.choose-your-destination .destination-place-image .destination-place-image-container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 0px;
}
.choose-your-destination .destination-place-image .destination-place-image-container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.choose-your-destination .destination-place-image .destination-place-image-container1 img
{
  width: 335px;
  height: 176px;
  padding-bottom: 16px;
}

.choose-your-destination .destination-place-image .destination-place-image-container2 img
{
  width: 335px;
  height: 176px;
  padding-bottom: 16px;
}

.choose-your-destination .destination-place-image .destination-place-image-container3 img
{
  width: 335px;
  height: 176px;
  padding-bottom: 16px;
}

.choose-your-destination .destination-place-image-container1 .image-text1 {
  top: 16%;
  left: 32%;
}

.choose-your-destination .destination-place-image-container1 .image-text2 {
  top: 70%;
  left: 32%;
}

.choose-your-destination .destination-place-image-container2 .image-text3 {
  top: 12%;
  left: 32%;
}

.choose-your-destination .destination-place-image-container2 .image-text4 {
  top: 45%;
  left: 22%;
}

.choose-your-destination .destination-place-image-container2 .image-text5 {
  top: 80%;
  left: 36%;
}

.choose-your-destination .destination-place-image-container3 .image-text6 {
  top: 20%;
  left: 28%;
}

.choose-your-destination .destination-place-image-container3 .image-text7 {
  top: 70%;
  left: 32%;
}

/* bonus section visa processing desing */
.visa-processing .visa-processing-text-content{
  margin-top: 40px;
}

.visa-processing .visa-processing-text-content h2{
  font-size: 28px;
}

.visa-processing .visa-processing-text-content p{
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.visa-processing .visa-processing-image img{
  width: 300px;
  height: 180px;
  padding-top: 15px;
}

.visa-processing .visa-processing-image{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

  /* why choose us section design */
  .why-choose-us .choose-us-text {
    margin-top: 40px;
  }
  
  .why-choose-us .choose-us-text h2 {
    font-size: 28px;
  }
  
  .why-choose-us .choose-us-text p {
    font-size: 14px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .why-choose-us .choose-us-card .choose-us-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .why-choose-us .choose-us-card .choose-us-card-container .card1 {
    width: 335px;
  }
  
  
  .why-choose-us .choose-us-card .choose-us-card-container .card2 {
    width: 335px;
  }
  
  .why-choose-us .choose-us-card .card3 {
    width: 335px;
  }
  
  .why-choose-us .choose-us-card .choose-us-card-heading{
    font-size: 20px;
  }
  
  .why-choose-us .choose-us-card .choose-us-card-description{
    font-size: 14px;
  }

  /* signup section design */
  /* newsletter part */
  .sign-up-section {
    flex-direction: column;
    margin-top: 50px;
  }

  .sign-up-section .newsletter-part {
    width: 335px;
    height: 300px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .sign-up-section .newsletter-part p {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .sign-up-section .newsletter-part .sign-up-section-hr-line {
    width: 300px;
    opacity: 60%;
  }

  .sign-up-section .newsletter-part form {
    padding-top: 16px;
  }

  .sign-up-section .newsletter-part form input {
    width: 290px;
  }

  .sign-up-section .newsletter-part form button {
    width: 300px;
  }

  /* sign-up-side image part */
  .sign-up-section .newsletter-image-part img {
    width: 360px;
    height: 300px;
  }

  .sign-up-section .newsletter-image-part .travel-discount {
    width: 200px;
    height: 80px;
    right: 15px;
    top: 180px;
  }

  .sign-up-section .newsletter-image-part .travel-discount p {
    font-size: 14px;
  }

  .sign-up-section .newsletter-image-part .travel-discount h3 {
    font-size: 20px;
  }

  /* design for footer section */
  .footer {
    margin-top: 50px;
    padding: 40px 0;
  }

  .footer .footer-logo-container img {
    width: 35px;
  }

  .footer .footer-logo-container h3 {
    font-size: 26px;
  }

  .footer .footer-description {
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer .footer-icon-container img {
    padding-bottom: 24px;
    width: 150px;
  }

  .footer .footer-line {
    width: 335px;
    height: 1px;
  }

  .footer .footer-copyright-text p {
    font-size: 14px;
    padding-top: 24px;
  }
}
