@media screen and (max-width: 600px) {
  /* signup section design */
  /* newsletter part */
  .sign-up-section {
    flex-direction: column;
  }

  .sign-up-section .newsletter-part {
    width: 335px;
    height: 300px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .sign-up-section .newsletter-part p {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .sign-up-section .newsletter-part .sign-up-section-hr-line {
    width: 300px;
    opacity: 60%;
  }

  .sign-up-section .newsletter-part form {
    padding-top: 16px;
  }

  .sign-up-section .newsletter-part form input {
    width: 290px;
  }

  .sign-up-section .newsletter-part form button {
    width: 300px;
  }

  /* sign-up-side image part */
  .sign-up-section .newsletter-image-part img {
    width: 360px;
    height: 300px;
  }

  .sign-up-section .newsletter-image-part .travel-discount {
    width: 200px;
    height: 80px;
    right: 35px;
    top: 620px;
  }

  .sign-up-section .newsletter-image-part .travel-discount p {
    font-size: 14px;
  }

  .sign-up-section .newsletter-image-part .travel-discount h3 {
    font-size: 20px;
  }

  /* design for footer section */
  .footer {
    margin-top: 50px;
    padding: 40px 0;
  }

  .footer .footer-logo-container img {
    width: 35px;
  }

  .footer .footer-logo-container h3 {
    font-size: 26px;
  }

  .footer .footer-description {
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer .footer-icon-container img {
    padding-bottom: 24px;
    width: 150px;
  }

  .footer .footer-line {
    width: 335px;
    height: 1px;
  }

  .footer .footer-copyright-text p {
    font-size: 14px;
    padding-top: 24px;
  }
}
