@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
}

/* why choose us section design */
.why-choose-us .choose-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.why-choose-us .choose-us-text h2 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 16px;
}

.why-choose-us .choose-us-text p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 40px;
}

.why-choose-us .choose-us-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-choose-us .choose-us-card .choose-us-card-container {
  display: flex;
  gap: 20px;
}

.why-choose-us .choose-us-card .choose-us-card-container .card1 {
  border-radius: 16px;
  /* border: 1px solid rgb(205, 109, 0);
  background: rgb(240, 163, 75); */
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 400px;
  height: 180px;
  padding-top: 28px;
  padding-left: 28px;
}

.why-choose-us .choose-us-card .choose-us-card-container .card1 img{
  width: 50px;
  padding-bottom: 14px;
}

.why-choose-us .choose-us-card .choose-us-card-container .card2 {
  border-radius: 16px;
  /* border: 1px solid rgb(205, 109, 0);
  background: rgb(240, 163, 75); */
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  width: 400px;
  height: 180px;
  padding-top: 28px;
  padding-left: 28px;
}

.why-choose-us .choose-us-card .choose-us-card-container .card2 img{
  width: 50px;
  padding-bottom: 14px;
}

.why-choose-us .choose-us-card .card3 {
  border-radius: 16px;
  /* border: 1px solid rgb(205, 109, 0);
  background: rgb(240, 163, 75); */
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  width: 400px;
  height: 180px;
  padding-top: 28px;
  padding-left: 28px;
  margin-top: 20px;
}

.why-choose-us .choose-us-card .card3 img{
  width: 50px;
  padding-bottom: 14px;
}

.why-choose-us .choose-us-card .choose-us-card-heading{
  color: #131318;
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 5px;
}

.why-choose-us .choose-us-card .choose-us-card-description{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
}

/* signup section design */
/* newsletter part */
.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.sign-up-section .newsletter-part {
  border: 1px solid #ff5400;
  border-radius: 16px;
  width: 400px;
  height: 320px;
  padding-top: 40px;
  padding-left: 40px;
}

.sign-up-section .newsletter-part h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 12px;
}

.sign-up-section .newsletter-part p {
  color: #5a5a5d;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 20px;
}

.sign-up-section .newsletter-part .sign-up-section-hr-line {
  width: 360px;
  opacity: 50%;
}

.sign-up-section .newsletter-part form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sign-up-section .newsletter-part form input {
  border-radius: 8px;
  border: none;
  background: rgba(19, 19, 24, 0.05);
  width: 350px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.sign-up-section .newsletter-part form button {
  border-radius: 8px;
  border: none;
  background: #ff5400;
  width: 360px;
  height: 40px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}

/* sign-up-side image part */
.sign-up-section .newsletter-image-part img {
  width: 650px;
  height: 365px;
}

.sign-up-section .newsletter-image-part {
  position: relative;
}

.sign-up-section .newsletter-image-part .travel-discount {
  border-radius: 16px;
  background: #ff5400;
  width: 280px;
  height: 100px;
  transform: rotate(-19.628deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 215px;
}

.sign-up-section .newsletter-image-part .travel-discount p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.sign-up-section .newsletter-image-part .travel-discount h3 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

/* footer section style */
.footer {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 80px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 16px;
  padding-right: 26px;
}

.footer .footer-logo-container img {
  width: 35px;
}

.footer .footer-logo-container h3 {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

#text-thrive {
  color: #ff5400;
}

.footer .footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 35px;
}

.footer .footer-icon-container img {
  padding-bottom: 40px;
  width: 150px;
}

.footer .footer-line {
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}

.footer .footer-copyright-text p {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  padding-top: 40px;
}
